body{
	font-family:Blackletter;
	background-image:url("https://i.imgur.com/jhiydkl.jpg");
	color: #ffffff;
	  font-size: 150%;
	  text-shadow: 2px 2px 4px #004d26;
}

#id6{
	 border: 1px solid powderblue;
    padding: 30px;
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
	width: 400px;
    height: 250px;
}

#id1{
	text-align: center;
}